spring:
  profiles:
    active:
      - db
  application:
    name: lab-backend
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:labdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8081
supabase:
  storage:
    endpoint: https://iinosatrzkqfwbiskaee.storage.supabase.co/storage/v1/s3
    endpoint_output: https://iinosatrzkqfwbiskaee.storage.supabase.co/storage/v1/object/public
    bucket: lab11
    region: ap-south-1
    accessKey: b3a45f55b83f76df4bd0bb3246db16d9
    secretKey: 6113dc14795b7ab4a2301dadbd28697d523b9a6e9e5ef1fb85070ec3e59c09d0
